.bodyimage {
    background-color: #c5e1a5;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQpbN2Twus2btz_c1xeTLKTbStiMxkk0Xrn2w&usqp=CAU");
    background-repeat: repeat;
   }